/*******
homepage
********/

* {
    margin:0;padding:0;
}

a {
    color:#000;
    text-decoration:none;
}

body {
    font-family: sans-serif;
    margin-bottom:55px;
}

ul.clients {
}

ul.clients li {
    float:left;
    list-style:none;
    text-align:center;
}

ul.clients li#add {
    font-size:110px;
    line-height:1;
}

ul.clients li img {
    width:130px;
    height:130px;
}

ul.clients li a {
    width:130px;
    height:130px;
    margin:10px;
    background:#fbe749;
    display:block;
    position:relative;
}

ul.clients li a p {
    color:#fff;
    background:rgba(0,0,0,.5);
    position:absolute;
    width:100%;
    padding:0.5em 0;
    bottom:0;
}

ul.clients li#add a {
    background:#fff;
    color:#000;
}

/************
bottom navbar
************/
nav {
    position:fixed;
    bottom:0;
    z-index:1000;
}
nav ul {
    border-top:1px solid #212427;
    height:50px;
    background-color:#5a6e93;
}
nav ul li {
    float:left;
    list-style:none;
}
nav ul a {
    display:block;
    height:50px;
    width:79.3px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:0 0;
    text-align:center;
    position:relative;
    color:#fff;
    text-shadow : 0px -1px 0px #000;

}

nav ul p {
    font-size:0.7em;
    position:absolute;
    width:100%;
    bottom:0;
    padding:0.2em 0;
}

nav #measure {
    background-image:url('/static/img/tape_measure3.png'), -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d7dff2), color-stop(52%,#5a6e93), color-stop(53%,#5a6e93), color-stop(100%,#5a6e93));
    border-right:1px solid #b3bde0;
}
nav #workout {
    background-image:url('/static/img/clip3.png'), -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d7dff2), color-stop(52%,#5a6e93), color-stop(53%,#5a6e93), color-stop(100%,#5a6e93));
    border-right:1px solid #b3bde0;
}
nav #progress {
    background-image:url('/static/img/graph3.png'), -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d7dff2), color-stop(52%,#5a6e93), color-stop(53%,#5a6e93), color-stop(100%,#5a6e93));
    border-right:1px solid #b3bde0;
}
nav #goals {
    background-image:url('/static/img/trophy3.png'), -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d7dff2), color-stop(52%,#5a6e93), color-stop(53%,#5a6e93), color-stop(100%,#5a6e93));
}

nav #measure.active {
    box-shadow:0 0 10px #000 inset;
    background-image:url('/static/img/tape_measure3.png'), -webkit-gradient(linear, left top, left bottom, color-stop(51%,#3a4861), color-stop(51%,#3a4861), color-stop(100%,#bdc5d7));
}
nav #workout.active {
    box-shadow:0 0 10px #000 inset;
    background-image:url('/static/img/clip3.png'), -webkit-gradient(linear, left top, left bottom, color-stop(51%,#3a4861), color-stop(51%,#3a4861), color-stop(100%,#bdc5d7));
}
nav #progress.active {
    box-shadow:0 0 10px #000 inset;
    background-image:url('/static/img/graph3.png'), -webkit-gradient(linear, left top, left bottom, color-stop(51%,#3a4861), color-stop(51%,#3a4861), color-stop(100%,#bdc5d7));
}
nav #goals.active {
    box-shadow:0 0 10px #000 inset;
    background-image:url('/static/img/trophy3.png'), -webkit-gradient(linear, left top, left bottom, color-stop(51%,#3a4861), color-stop(51%,#3a4861), color-stop(100%,#bdc5d7));
}


/*************
top button bar
**************/

header {
    z-index:1000;
    position:fixed;
    top:0px;
    width:320px;
    border-bottom:1px solid;
    background:#5a6e93;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d7dff2), color-stop(52%,#5a6e93), color-stop(53%,#5a6e93), color-stop(100%,#5a6e93));
}

header h1 {
    margin-left:85px;
    font-size:1em;
    line-height:0px;
    padding:25px 0;
    color:#fff;
    width:175px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-shadow: 0px -1px 0px #1f284d;
}

header a {
    display:block;
}

header.hidden {
    display:none;
}

/*******
goals page
********/
/* conflicts with navbar #goals id */
/*#goals {
-moz-border-radius: 15px;
-webkit-border-radius: 15px; 
border-radius: 15px;
}*/
/*******************
workout list and form
********************/
#workouts {
    margin-bottom:50px;
}
#workouts li form {
    display:none;
}
#workouts .workout_name {
    border-top:1px solid #c7c7c7;
    padding:1em;
}
#workouts li.add form{
    display:block;
}
#workouts .workout_name {
    cursor:pointer;
}

#workouts li form {
    margin:0 1em 1em 1em;
    padding-bottom:25px;
    position:relative;
}
#workouts .set {
    margin-bottom:1em;
}

#workouts .add_set, #workouts .remove_set {
    cursor:pointer;
}
#workouts .add_set {
    background-image:url('/static/img/add.png');
    background-repeat:no-repeat;
    background-size:25px auto;
    line-height:25px;
    display:block;    
    float:left;
    padding-left:40px;
    font-weight:bold;
}
#workouts .remove_set {
    display:block;
    float:left;
    width:25px;
    height:25px;
    margin-right:1em;
    background-image:url('/static/img/delete.png');
    background-repeat:no-repeat;
    background-size:25px auto;
}
#workouts li.hidden {
    display:none;
}
#workouts li {
    position:relative;
}
#workouts li:after {
    content:">";
    position:absolute;
    right:1em;
    top:1em;
    font-weight:bold;
    color:#7e7e7e;
    z-index:-1;
}
#workouts li.add:after {
    -webkit-transform:rotate(90deg);
}

#workouts form input[type=submit] {
   top:auto;
    left:auto;
    right:0;
    bottom:0;
    display:block;
    border:none;

}

#workouts form .set input {
    width:4em;
    font-size:1em;
}
#workouts form .set label:last-child {
    margin-left:1em;
}
#workouts form .set label.workout_length input{
    width:2em;
}


#search {
    margin:50px 0 0 0;
    padding:1em;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(50%,#5b5b5b), color-stop(51%,#4c4c4c), color-stop(100%,#4c4c4c));
}
#search input {
    font-size:1em;
    padding:0.5em;
    width:100%;
}

#search.focus {
    margin-top:0;
}

#workoutsummary {
margin-top:52px;

}

#measurementsummary {
margin-top:52px;

}

#show_goals {
    margin-top:55px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    border: 1px solid #000;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px; 
    border-radius: 15px;
    padding: 0.5em;
}

#graph_container {
    margin-top: 55px;
}

.graph{
    width:100%;
}

/******************************
big workout and measure buttons
*******************************/
#add_something {
    height:300px;
}


#add_something li a {
    display:block;
    font-size:1.5em;
    padding:1.5em 0;
    border:1px solid;
    border-radius:1em;
    text-align:center;
    margin:0.5em;
    margin-top:35px;
}

#done_workouts, #edit_workouts, #edit_goals {
    right:10px;
    left:auto;
}

.ios-button {
    left:10px;/*change the position*/
    top:10px;/*change the position*/
    position:absolute;
    background-repeat:repeat-x;
    background-color: rgba(74,108,155,1);/*change this and the background color for the :before element*/
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    height:30px;
    padding: 0 10px 0 8px;
    z-index : 0;
    border-radius: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow :-1px -1px 0px rgba(0,0,0,0.2)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;
    font-size : 11px;
    display : block;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px #000;
    line-height : 30px;
    font-family : HelveticaNeue;
    font-weight: 700;
    -webkit-background-size : 30px;
}
 
.ios-button:before{

}

.ios-arrow-left {
    border-top-left-radius : 10px 15px;
    border-bottom-left-radius : 10px 15px;
}

.ios-arrow-left:before {
    position:absolute;
    top:9.9%;
    left:-5px;
    -webkit-background-size : 22px 22px;
    background-position :-2px -1.5px;
    background-color: rgba(74,108,155,1);/*change to the same as the main element*/
    background-image :
        -webkit-gradient(linear, left bottom, right top,
            from(rgba(0,0,0,0)),
            color-stop(0.5, rgba(0,0,0,0)),
            color-stop(0.5, rgba(255,255,255,0.1)),
            to(rgba(255,255,255,0.3)));
    height : 25px;
    width: 25px;
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
    border-top-right-radius : 100px 40px;
    border-top-left-radius : 30px 2px;
    border-bottom-right-radius : 2px 30px;
    border-bottom-left-radius : 40px 100px;
    z-index : 1;
    content : ' ';
    border-left : 1.5px solid rgba(255,255,255,0.3);
    box-shadow :  1px 1px 0 rgba(0,0,0,0.2) inset,
        -1px 1px 1px rgba(0,0,0,0.5) inset;
    -webkit-mask-image :
        -webkit-gradient(linear, left top, right bottom,
            from(#000000),
            color-stop(0.33,#000000),
            color-stop(0.5, transparent),
            to(transparent));
}

/* fake iphone screen for large screens */
@media screen and (min-width: 321px) {
    #iphone {
        width:320px;
        height:480px;
        box-shadow:0 0 10px #000;
        overflow:scroll;
        margin:0 auto;
        position:relative;
    }
    nav {
        position:fixed;
        top:430px;
        z-index:1000;
    }
}

.alert {
    float:right;
    background:#daf1ff;
    border-radius:0.5em;
    box-shadow:0 0  10px #000;
    margin:2em;
    padding:2em;
    width:10em;
}
