{% extends 'base.html' %}

{% block content %}

<header>
<a href="/" class="ios-arrow-left ios-button">All clients</a> <h1>{{ client.firstname }}'s goals</h1>
   <a href="" id="edit_goals" class="ios-button">Edit</a>
</header>
<p id="show_goals">
	{{ client.firstname }} wants to lose 150 lbs <br>
	{{ client.firstname }} wants to bench press 300 lbs
	{{ client.firstname }} wants to run a 6 minute mile
</p>
<nav>
    <ul>
        <li><a href="/client/{{ client.id }}/measurements/list" id="measure"><p>Measure</p></a></li>
        <li><a href="/client/{{ client.id }}/workouts/list" id="workout"><p>Workout</p></a></li>
        <li><a href="/client/{{ client.id }}/progress" id="progress"><p>Progress</p></a></li>
        <li><a href="/client/{{ client.id }}/goals" id="goals" class="active"><p>Goals</p></a></li>
    </ul>
</nav>
{% endblock %}