{% extends 'base.html' %}

{% block content %}

<header>
<a href="/" class="ios-arrow-left ios-button">All clients</a> <h1>{{ client.firstname }}'s goals</h1>
   <a href="/client/{{ client.id }}/goals/edit" id="edit_workouts" class="ios-button">Edit</a>
</header>
<input type="text" class="goals" />

<nav>
    <ul>
        <li><a href="/client/{{ client.id }}/measurements/list" id="measure"><p>Measure</p></a></li>
        <li><a href="/client/{{ client.id }}/workouts/list" id="workout"><p>Workout</p></a></li>
        <li><a href="/client/{{ client.id }}/progress" id="progress"><p>Progress</p></a></li>
        <li><a href="/client/{{ client.id }}/goals" id="goals" class="active"><p>Goals</p></a></li>
    </ul>
</nav>
{% endblock %}