{% extends 'base.html' %}



{% block content %}
    <ul class="clients">
        <li id="add"><a href="">+</a></li>
        <li>
            <a href="/dave">
                <img src="{{ url_for('static', filename='img/profile-photo.jpg') }}">
                <p class="name">Dave B.</p>
            </a>
        </li>

        <li>
            <a href="/dave">
                <img src="{{ url_for('static', filename='img/profile-photo.jpg') }}">
                <p class="name">Ted S.</p>
            </a>
        </li>

        <li>
            <a href="/dave">
                <img src="{{ url_for('static', filename='img/profile-photo.jpg') }}">
                <p class="name">Julianne W.</p>
            </a>
        </li>

        <li>
            <a href="/dave">
                <img src="{{ url_for('static', filename='img/profile-photo.jpg') }}">
                <p class="name">Allyson W.</p>
            </a>
        </li>

        <li>
            <a href="/dave">
                <img src="{{ url_for('static', filename='img/profile-photo.jpg') }}">
                <p class="name">Avis D.</p>
            </a>
        </li>

        <li>
            <a href="/dave">
                <img src="{{ url_for('static', filename='img/profile-photo.jpg') }}">
                <p class="name">Clevis M.</p>
            </a>
        </li>
    </ul>
{% endblock %}