{% extends 'base.html' %}

{% block content %}
<header>
<a href="/" class="ios-arrow-left ios-button">All clients</a> <h1>{{ client.firstname }}'s measurements</h1>
{% if edit %}
    <a href="/client/{{ client.id }}/measurements/list" id="done_workouts" class="ios-button">Done</a>
{% else %}
    <a href="/client/{{ client.id }}/measurements/edit" id="edit_workouts" class="ios-button">Edit</a>
{% endif %}
</header>
{{ edit }}
    <ul id="measurements">
        {% for measurement in measurements %}
        <li>
            <p class="measurement_name">{{  measurement[0] }}</p>
            <form id="measurements_form">
            <div id="{{ measurement[0] }}">
                <input type="hidden" name="client_id" value="{{ client.id }}" />
                <input type="hidden" name="measurement_name" value="{{ measurement[0] }}" />
                <input type="hidden" name="measurement_units" value="{{ measurement[1] }}" />
                <div id="measurement_entry">
                <input type="tel" name="measurement_value"  />
                <p name="measurement_units">
                    {{ measurement[1] }}
                </p>
                </div>
                <input type="submit" value="Done" />
            </div>
            </form>
        </li>
        {% endfor %}
    </ul>

<nav>
    <ul>
        <li><a href="/client/{{ client.id }}/measurements/list" id="measure" class="active"><p>Measure</p></a></li>
        <li><a href="/client/{{ client.id }}/workouts/list" id="workout"><p>Workout</p></a></li>
        <li><a href="/client/{{ client.id }}/progress" id="progress"><p>Progress</p></a></li>
        <li><a href="/client/{{ client.id }}/goals" id="goals"><p>Goals</p></a></li>
    </ul>
</nav>
{% endblock %}