{% extends 'base.html' %}

{% block content %}
<header>
<a href="/" class="ios-arrow-left ios-button">All clients</a> <h1>{{ client.firstname }}'s progress</h1>
</header>
<div id="graph_container">
<img src="/static/img/sample_graph1.png" id="graph1" class="graph">
<img src="/static/img/sample_graph2.png" id="graph2" class="graph">
<img src="/static/img/sample_graph3.png" id="graph3" class="graph">
</div>
<nav>
    <ul>
        <li><a href="/client/{{ client.id }}/measurements/list" id="measure"><p>Measure</p></a></li>
        <li><a href="/client/{{ client.id }}/workouts/list" id="workout"><p>Workout</p></a></li>
        <li><a href="/client/{{ client.id }}/progress" id="progress" class="active"><p>Progress</p></a></li>
        <li><a href="/client/{{ client.id }}/goals" id="goals"><p>Goals</p></a></li>
    </ul>
</nav>
{% endblock %}