{% extends 'base.html' %}

{% block content %}
<header>
<a href="/" class="ios-arrow-left ios-button">All clients</a> <h1>{{ client.firstname }}'s workouts</h1>
{% if edit %}
    <a href="/client/{{ client.id }}/workouts/list" id="done_workouts" class="ios-button">Done</a>
{% else %}
    <a href="/client/{{ client.id }}/workouts/edit" id="edit_workouts" class="ios-button">Edit</a>
{% endif %}
</header>
{{ edit }}
<ul class="workouts">
    {% for w in workouts %}
    <li>
        <p class="workout_name">{{ w.name }}</p>
    </li>
    {% endfor %}
</ul>
<ul class="all-workouts">
    {% for w in all_workouts %}
    <li>
        <p class="workout_name">{{ w }}</p>
    </li>
    {% endfor %}
</ul>

<nav>
    <ul>
        <li><a href="" id="measure"><p>Measure</p></a></li>
        <li><a href="" id="workout"><p>Workout</p></a></li>
        <li><a href="" id="progress"><p>Progress</p></a></li>
        <li><a href="" id="goals"><p>Goals</p></a></li>
    </ul>
</nav>
{% endblock %}