{% extends 'base.html' %}

{% block content %}
<header>
    <a href="/" class="ios-arrow-left ios-button">All clients</a> <h1>{{ client.firstname }}'s workouts</h1>
    <a href="/client/{{ client.id }}/workouts/list" id="done_workouts" class="ios-button">Done</a>
</header>

<form id="search">
    <input type="search" placeholder="search workouts">
</form>

    <ul id="workouts">
    {% for w in all_workouts %}
        <li id="{{ w[0] }}">
        <p class="workout_name">{{ w[0] }}</p>
            <form id="{{ w[0] }}">
                <input type="hidden" name="workout_name" value="{{ w[0] }}">
                <input type="hidden" name="client_id" value="{{ client.id }}">
                <input type="hidden" name="workout_type" value="{{ w[1] }}">
                <div class="set">
                    <a class="remove_set"></a>
                    {% if w[1] == "Rep_Set_Workout" %}
                    <label>
                        <input type="tel" name="reps">
                        reps
                    </label>
                    <label>
                        <input type="tel" name="weight">
                        lbs
                    </label>
                    
                    {% else %}
                    <label class="workout_time">
                        <input type="tel" name="workout_time">
                        min
                    </label>
                    <label class="workout_length">
                        <input type="tel" name="workout_length">
                        mi
                    </label>
                    {% endif %}
                
                </div>
                {% if w[1] == "Rep_Set_Workout" %}
                <a class="add_set">Add set</a>
                {% endif %}
                <input type="submit" value="Done" class="ios-button">
            </form>
        </li>
    {% endfor %}
</ul>

<nav>
    <ul>
        <li><a href="/client/{{ client.id }}/measurements/list" id="measure"><p>Measure</p></a></li>
        <li><a href="/client/{{ client.id }}/workouts/list" id="workout" class="active"><p>Workout</p></a></li>
        <li><a href="/client/{{ client.id }}/progress" id="progress"><p>Progress</p></a></li>
        <li><a href="/client/{{ client.id }}/goals" id="goals"><p>Goals</p></a></li>
    </ul>
</nav>
{% endblock %}